.body {
  min-height: 100%vh;
}

#header {
  position: relative;
  margin: auto;
  width: 90%;
  font-family: 'Caveat', cursive;
  text-align: center;
  text-shadow: 1px 1px #8b813f;
  background-image: linear-gradient(to top right, #4b4d58, #e3e4dd);
  border: 1px solid #fffcfc;
  border-radius: 60px;
  padding: 20px;
  opacity: 0.95;
  animation-name: header;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

h3 {
  color: #f7f7cc;
  text-align: center;
  text-shadow: 1px 1px #f9f8e0;
}
/*background image of services and contact sections*/
.row-header {
  margin: auto;
  width: 90%;
  background-image: url(assets/SnowFlakeRoad_compressed.jpg);
  background-repeat: no-repeat: round;
  background-size: cover;
  background-position: center;
  border: 1px solid #fffcfc;
  border-radius: 20px;
  padding: 20px;
}

/*rounding FB icon*/
#fbicon {
  border-radius: 50%;
}

button {
  background-color: #e7df7e;
}

button:hover {
  background-color: #ffffff;
}

/*payment option icons*/
#axicon, #mcicon, #vsicon, #ppicon, #dcicon, #apicon {
  width: 5em;
  height: 5em;
}
#vmicon, #goicon {
  margin-left: 5px;
  width: 4.7rem;
  height: 2.8rem;
  border: 1px solid #fffcfc;
  border-radius: 7px;
}

#accordionicons {
  margin: left;
  max-width: 60px;
  padding: 20px;
}

@keyframes header {
  0%   {top: -1000px}
  100% {top: 0px}
}

#services {
  position: relative;
  margin: auto;
  width: 80%;
  text-align: center;
  color: #081302;
  text-shadow: 1px 1px #8b813f;
  background-image: linear-gradient(to bottom left, #4b4d58, #e3e4dd);
  border: 1px solid #fffcfc;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.90;
  animation-name: services;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes services {
  0%   {left: -1300px}
  100% {left: 0px}
}

#contact {
  position: relative;
  margin: auto;
  width: 80%;
  color: #081302;
  text-align: center;
  text-shadow: 1px 1px #ccb837;
  background-image: linear-gradient(to top right, #4b4d58, #e3e4dd);
  border: 1px solid #fffcfc;
  border-radius: 20px;
  padding: 10px;
  opacity: 0.90;
  margin-bottom: 10px;
  animation-name: contact;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes contact {
  0% {right: -1000px}
  100% {right: 0px}
}

#contactbuttonbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

a:hover {
  background-color: #f3f4d8;
}

#legaldisclaim {
  margin: auto;
  background-image: linear-gradient(to bottom left, #4b4d58, #e3e4dd);
  width: 70%;
  text-align: center;
  text-shadow: 1px 1px #8b813f;
  background-size: auto;
  border: 1px solid #fffcfc;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.9;
  margin-bottom: 10px;
  }

#logobar {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1600px) {
  #header {
    width: 70%;
  }
  #services {
    width: 60%;
  }
  #contact {
    width: 60%;
  }
  #legaldisclaim {
    width: 50%;
  }
}
