#mainborder {
  margin: auto;
  background-color: #eaa949;
}

.row-header {
  margin: auto;
  width: 90%;
  background-image: url(OpenRoad.jpg);
  background-repeat: round;
  background-size:cover;
  background-position:center;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
}

img {
  border-radius: 50%;
}

#header {
  margin: auto;
  width: 95%;
  color: #5a392d;
  font-family: 'Caveat', cursive;
  text-align: center;
  text-shadow: 2px 2px yellow;
  background-color: lightgrey;
  background-size: auto;
  border: 2px solid grey;
  border-radius: 20px;
  opacity: 0.80;
}

#services {

  margin: auto;
  width: 85%;
  text-align: center;
  font-family: 'Caveat', cursive;
  color: #01310c;
  font-weight: bolder;
  text-shadow: 1px 2px white;
  background-color: lightgrey;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.80;
}

#contact {
  margin: auto;
  width: 85%;
  color: #01310c;
  font-family: 'Caveat', cursive;
  text-align: center;
  text-shadow: 1px 1px white;
  background-color: lightgrey;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.80;
}

#legaldisclaim {
  margin: auto;
  width: 75%;
  font-family: 'Caveat', cursive;
  text-align: center;
  background-color: #e4dd9c;
  background-size: auto;
  border: 2px solid grey;
  border-radius: 10px;
  opacity: 0.7;
  }

#contactbuttons {
  margin: auto;
  justify-content: center;
  border: 2px solid yellow;
  border-radius: 10px;
}
