#mainborder {
  margin: auto;
  background-color: #e2b97d;
}

/*background image of services and contact sections*/
.row-header {
  margin: auto;
  width: 90%;
  background-image: url(assets/teton.jpeg);
  background-repeat: no-repeat: round;
  background-size: cover;
  background-position: center;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
}

/*rounding FB icon*/
#fbicon {
  border-radius: 50%;
}

button {
  background-color: inherit;
  opacity: 0.8;
}

button:hover {
background-color: #b4f3bd;
opacity: 1;
}

#accordion-body-flex {
  display: flex;
  flex-wrap: wrap;
}

/*payment option icons*/
#axicon, #mcicon, #vsicon, #ppicon, #dcicon, #apicon {
  width: 5rem;
  height: 5rem;
}
#vmicon, #goicon {
  margin-left: 5px;
  width: 4.7rem;
  height: 2.8rem;
  border: 3px solid grey;
  border-radius: 7px;
}

#accordionicons {
  margin: left;
  max-width: 60px;
}

#header {
  position: relative;
  margin: auto;
  width: 99%;
  color: black;
  font-family: 'Caveat', cursive;
  text-align: center;
  text-shadow: 2px 2px yellow;
  background-image: linear-gradient(to bottom right, #203a09, #e3e4dd);
  background-color: lightgrey;
  background-size: auto;
  border: 2px solid #f9d054;
  border-radius: 60px;
  padding: 20px;
  opacity: 0.80;
  animation-name: header;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes header {
  0%   {top: -1000px}
  100% {top: 0px}
}

#services {
  position: relative;
  margin: auto;
  width: 85%;
  text-align: center;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 2px black;
  background-image: linear-gradient(to bottom right, #203a09, #e3e4dd);
  background-color: lightgrey;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.80;
  animation-name: services;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes services {
  0%   {left: -1300px}
  100% {left: 0px}
}

#contact {
  position: relative;
  margin: auto;
  width: 90%;
  color: #01310c;
  text-align: center;
  background-image: linear-gradient(to bottom right, #4b4d58, #e3e4dd);
  background-color: lightgrey;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 10px;
  opacity: 0.90;
  margin-bottom: 10px;
  animation-name: contact;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes contact {
  0% {right: -1000px}
  100% {right: 0px}
}

#contactbuttonbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

a:hover {
  background-color: #b4f3bd;
}

#legaldisclaim {
  margin: auto;
  background-color: #e2b97d;
  width: 75%;
  text-align: center;
  background-size: auto;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.7;
  margin-bottom: 10px;
  }

#logobar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*#contactbuttons {
  margin: auto;
  justify-content: center;
  border: 2px solid yellow;
  border-radius: 10px;
}*/
